/* COMMON CLASS */

.bg-navbar{
	background: #fff;
	border: 0;
}

.bool-txt-white{
	color: #fff;
	font-weight: bold;
}
.bool-txt-lightblue{
	color:#008ae6;
	font-weight: bold;
}

.txt-size{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}

.pad-bot{
	padding-bottom: 30px;
}

.bold{
	font-weight: bold;
	text-align: center;
}

.bool-txt-darkblue{
color:#031b4e;
font-weight: bold;
}

.btn-2{
	padding: 5px;
	border: 1px solid #008ae6;
	color:#008ae6;
	border-radius: 5px;
}

.btn-3{
	color: #b8b894;
	font-weight: bold;
}

.bg-lightgrey{
	background:#f5f5f0;
}
/*END COMMON CLASS */


/* NAV BAR */
.navbar-brand img{
height: 30px;
width: auto;
padding-bottom: 5px;
padding-left: 22px;}

.options-navbar ul li{
	display: inline-block;
	font-size: 12px;
	padding-right: 5px;
	line-height: 55px;
	font-weight: bolder;
  color:#031b4e;
}

.btn-2 a li{
		color: #008ae6;
}

.navbar-toggle{
	margin-right: 35px;
	margin-top: 13px;
	border: #fff;
}


/* END NAV BAR */


/* START JUMBOTRON */

.jumbo-row{
min-height: 450px;
padding-top: 30px;
}

.jumbo-left p{
	font-weight: bold;
	font-size: 20px;
	color:#e0e0d1;}


.jumbo-left h1{
	font-size: 40px;
	font-weight: bold;
}

.bg-jumbo{
	background-image: url(../img/bg-home.svg);
	background-size:cover;
	background-position: center;
}

.input-part{
	background-color: #fff;
	text-align: center;
	border-radius: 10px;
	margin-bottom: 20px;

}

.input-jumbo{
	display:block;
	width: 90%;
	margin-bottom: 20px;
	border-radius: 5px;
	position: relative;
	transform: translate(-50%, 0);
	left: 50%;
}

.input-part>h3{
	padding-top: 15px;
}
.account-jumbo, .account-jumbo-2{
width: 90%;
height: 28px;
position: relative;
left: 5%;
line-height:28px;
border-radius: 5px;
background: #008ae6;
margin-bottom: 15px;
}
.account-jumbo-2{
background:#fff;
border: 1px solid #ccc;
}

.google-log{
	position: absolute;
	left: 10px;
	top: 25%;
	color: #ff471a;
}

.terms{
	font-weight: bold;
	font-size: 10px;
}
/* END JUMBOTRON */

/* LOGO LIGHTGREY ROW */

.box-logo-img img{
	width: 130px;
	height: auto;
 padding-bottom: 50px;
 margin-left: 10%;
}
.text-logo{
 text-align: center;
 color:#a3a375;
 padding: 35px 0;
}

/* END LOGO LIGHTGREY PART */


/* START DEPLOY AND SCALE SEAMLESSLY */

.left-list ul{
	list-style: none;
	border-left: 1px solid #ccc;
	padding-left: 5px;
	padding-top: 20px;
}

.left-list ul li{
		padding-bottom: 10px;
		color:#a3a375;
		font-size: 18px;
		font-weight:bolder;
}
.box-img{
	min-height:250px;
}
.box-img img{
	margin-top: 20px;
	height: 50px;
	width: auto;
}

.box-img>h5{
 color:#031b4e;
 font-weight: bold;
}

.box-img>p{
	color:#a3a375;;
	font-weight: bold;
}
/* END DEPLOY AND SCALE SEAMLESSLY */


/* START DESIGNED FOR DEVELOPERS ROW */
.dev-central-img img{
	position: relative;
	width: 60%;
	height:60%;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.dev-central-img{
	position: relative;
	height: 400px;
}

.btn-slide{
	border-radius: 100%;
  width: 15px;
  height: 15px;
  font-size: 0px;
  line-height: 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  outline: 0px;
  margin: 0px 6px;
  background-color: transparent;
  border: 2px solid rgb(0, 105, 255);

}

.btn-slide:hover{
	background: blue;
}
.slide{
	width: 120px;
	position: relative;
	transform: translate(-50%, 0);
	left:50%;
	margin-bottom: 30px;
}

/* END DESIGNED FOR DEVELOPERS ROW */


/* START FEATURES YOUR BUSINESS */
.logo-dev{
	width: 100px;
}


/* MEDIA QUERY */
/* XS */
@media only screen and (max-width:768px) {
.box-logo-img img{
	margin-left: 30%;
	width: 130px
}

.logo-dep{
	text-align: left;
	padding-top: 20px;
}
}

/* SM */
@media screen and (min-width:769px) {
.box-logo-img img{

}
}

/* MD */
@media screen and (max-width: 992px) {
	.box-logo-img img{
		width: 120px;
		height: auto;
	 padding-bottom: 50px;

	}

}
